{
  "root": true,
    "ignorePatterns": ["node_modules/**/*", "dist/*.js"],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
      "project": ["./tsconfig.json"]
    },
    "plugins": ["@typescript-eslint"],
    "extends": [
        "plugin:@typescript-eslint/recommended",
        "airbnb",
        "airbnb-typescript"
    ],
  "rules": {
    "max-len": ["warn", { "code": 120, "ignoreComments": true }],
    "@typescript-eslint/no-empty-interface": ["off"]
  }
}